body{
font-family: Arial;
font-size: 14px;
line-height: 1.6;
margin: 0;
padding: 0;
background-color: #E2E5E0;
}
{box-sizing: border-box;}
img{
    max-width: 100%;
    height: auto;
}
max-width: 100%;