/* Ensemble */

* {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* body {
    width: 1440px;
    margin: auto;
    border: 1px solid black;
} */

/* base code */

h1 {
    margin: 50px 0;
}

p {
    margin: 15px 0;
}

/* tete de page */

.top-page {
    margin: 0 3.5%;
    margin-bottom: 30px;
    background-size: cover;
}

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
}

/* page de bienvenue (landing page) */

.bigtitle {
    font-size: 30px;
    margin-bottom: 0;
}

.smalltitle {
    margin-bottom: 20px;
}

/* menu de navigation */

nav.headernav {
    display: flex;
    list-style: none;
}

/* Apparence au survol des liens */

.nav-link {
    padding: 0 2em;
    line-height: 70px;
    text-decoration: none;
    color: black;
    border-top: 3px solid white;
}

.nav-link:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.signin {
    color: #0065FC;
    font-weight: 600;
    line-height: 70px;
    padding-left: 5em;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* Barre de recherche pays */

.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.searchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway";
}

.searchbutton {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway";
    font-size: 1rem;
    cursor: pointer;
}

/* Filtres */

.Filters {
    display: flex;
    margin-top: 2em;
}

.AllFilter:hover {
    transform: scale(1.1)
}

.AllFilter {
    margin-left: 3em;
    background-color: white;
    border: #F2F2F2 2px solid;
    border-radius: 2rem;
    font-family: "Raleway";
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    cursor: pointer;
}

.AllFilter .fas {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllFiltertext, .FiltersTitle {
    padding: 0 10px;
    font-weight: bold;
}

.info {
    padding-top: 50px;
}

.fa-info {
    color: #0065FC;
    background-color: white;
    border: #F2F2F2 2px solid;
    border-radius: 2rem;
    padding: 0.65rem 0.90rem ;
    margin-right: 15px;
    cursor: pointer;
}

/* Hébergements à Marseille */

#hosting {
    background-color: #F2F2F2;
    min-width: 350px;
    margin: 15px;
    border-radius: 30px;
}

.main header {
    font-size: 1.2rem;
    padding: 25px 25px 0 35px;
    margin: 0;
}

.main a {
    text-decoration: none;
    color: black;
}

/* //Section hosting et trending //*/

main {
    display: flex;
    margin: 0 3.5%;
    height: 100%;
}

/* Placement des images */

.hotel {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 29%;
    margin: 1em;
    box-shadow: 10px 10px 10px #E1E1E1;
}

/* Position des images pour les hébergements */

.hotel img {
    object-position: center;
    object-fit: cover;

    width: 96%;
    height: 10em; 

    padding: 5px 5px 0 5px;
    border-radius: 25px 25px 0 0;
}

/* Flexbox choix des hotel */

.hotel-choice {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    padding: 25px 25px;
    justify-content: space-between;
}

/* Taille du texte des liens hosting */

.hotel-details {
    flex-grow: 1;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

.hotel-name {
    font-weight: bold;
}

/* Marge sur le prix */

.hotel-price {
    margin-bottom: 10px;
}

/* Couleurs des étoiles */

.blue-stars {
    color: #0065FC;
}

.grey-stars {
    color: grey;
}

/* Prix hôtels en gras */

.price {
    font-weight: bold;
}

/* Hébergements footer */

.main .afficherplus a{
    text-decoration: none;
    font-weight: bold;
}

.main .afficherplus{
    padding: 25px 25px 45px 35px;
}

/* Aside */

/* Flexbox et position des box */

.trending {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin: 15px;
    height: 100%;
}

/* Taille des images trending (populaires) */

.trend-choice img {
    object-position: center;
    object-fit: cover;
    width: 33%;
    height: 10em;
    border-radius: 25px 25px 0 0;
    box-shadow: 10px 10px 10px #E1E1E1;
}

.trend-choice {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 25px 25px;
    justify-content: space-between;
}

.trend-hotel {
    display: flex;
}

.trend-details {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

.trending header {
    font-size: 1.2rem;
    padding: 25px 25px 0 35px;
    margin: 0;
}

.trending a {
    text-decoration: none;
    color: black;