/* Ensemble */
*{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Taille maquette desktop */

/* body {
    width: 1440px;
    margin: auto;
} */

/* base code */

h1 {
    margin: 50px 0;
}

p {
    margin: 15px 0;
}

/* tete de page */

.top-page {
    margin: 0 3.5%;
    margin-bottom: 30px;
    background-size: cover;
}

header.header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.logo {
    width: 62%;
}

header.header img {
    width: 130px;
}

/* page de bienvenue (landing page) */

.bigtitle {
    font-size: 30px;
    margin-bottom: 0;
}

.smalltitle {
    margin-bottom: 20px;
    font-size: 100%;
    font-weight: 500;
    padding-top: 0.6em;
}

/* menu de navigation */

.headernav {
    display: flex;
    list-style: none;
    width: 21%;
    justify-content: space-between;
}

/* Apparence au survol des liens */

.nav-link {
    line-height: 70px;
    text-decoration: none;
    color: black;
    border-top: 3px solid white;
}

.nav-link:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.signin {
    color: #0065FC;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* Barre de recherche pays */

.searchForm {
    display: inline-flex;
    max-width: 100%;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.searchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
}

.searchbutton {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Filtres */

.Filters {
    display: flex;
    margin-top: 2em;
}

.Filterorder {
    display: flex;
}

/* Effet filtres au survol */

.AllFilter:hover {
    transform: scale(1.1) 
}

/* propriété transform fait en sorte que le bouton des filtres s'élargit au survol */

/* Disposition flexbox filtres */

.AllFilter {
    margin-left: 3em;
    background-color: white;
    border: #D9D9D9 1px solid;
    border-radius: 2rem;
    font-family: "Raleway";
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.AllFilter .fas {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2px;
}

.AllFiltertext, .FiltersTitle {
    padding: 0 1.5em;
    font-weight: bold;
}

.info {
    padding-top: 50px;
}

.fa-info {
    color: #0065FC;
    background-color: white;
    border: #F2F2F2 2px solid;
    border-radius: 2rem;
    padding: 0.65rem 0.90rem ;
    margin-right: 5px;
    cursor: pointer;
}

/*// Main et Hosting/Trending //*/

main {
    margin: 0 3.5%;
    height: 100%;
}

.Global {
    display: flex;
}

/* Hébergements à Marseille */

/* Block hosting et couleur de fond */

#hosting {
    background-color: #F2F2F2;
    margin: 15px 15px 15px 0;
    border-radius: 30px;
}

.HebergementsMarseille header {
    font-size: 1.2rem;
    padding: 25px 25px 0 35px;
    margin: 0;
}

.HebergementsMarseille a {
    text-decoration: none;
    color: black;
}

/* Placement des images */

.hotel {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 31.5%;
    margin-bottom: 1em;
    box-shadow: 10px 10px 10px #E1E1E1;
}

/* Position des images pour les hébergements */

.hotel img {
    object-position: center;
    object-fit: cover;
    height: 10em; 
    padding: 5px 5px 0 5px;
    border-radius: 25px 25px 0 0;
}

/* Flexbox choix des hotel */

.hotel-choice {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    padding: 25px 25px;
    justify-content: space-between;
}

/* Taille du texte des liens hosting */

.hotel-details {
    flex-grow: 1;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

.hotel-name {
    font-weight: bold;
}

/* Marge sur le prix */

.hotel-price {
    margin-bottom: 10px;
}

/* Couleurs des étoiles */

.blue-stars {
    color: #0065FC;
}

.grey-stars {
    color: grey;
}

/* Prix hôtels en gras */

.price {
    font-weight: bold;
}

/* Hébergements footer */

.HebergementsMarseille .afficherplus a {
    text-decoration: none;
    font-weight: bold;
}

.HebergementsMarseille .afficherplus {
    padding: 25px 25px 45px 35px;
}

/* Aside */

/* Flexbox et position des box */

.trending {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin: 15px 0 15px 15px;
}

/* Taille des images trending */

.trend-choice img {
    object-position: center;
    object-fit: cover;
    width: 33%;
    height: 10em;
    border-radius: 25px 0 0 25px;
}

.trend-price {
    margin-bottom: 45px;
}

.trend-choice {
    height: 85%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 25px 25px;
    justify-content: space-between;
}

.trend-hotel {
    display: flex;
    background-color: #FFFFFF;
    margin: 1em;
    padding: 1%;
    border-radius: 25px 25px;
    box-shadow: 10px 10px 10px #E1E1E1;
}

/* Mise en gras nom hôtels trending */

.trend-name {
    font-weight: bold;
}

/* Marge trend-details */

.trend-details {
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

/* Alignement icône trending */

.trending header {
    display: flex;
    font-size: 1.2rem;
    padding: 25px 25px 0 35px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.trending a {
    text-decoration: none;
    color: black;
}

/* Mise en gras icône trending */

.trending header span {
    font-size: 1.5rem;
}

/* Espace et couleur étoiles trending */

.trend-blue-stars {
    color: #0065FC;
}

.trend-grey-stars {
    color: grey;
}

/* Activy */

#Activity {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Activity-content {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.column {
    width: 22%;
}

.column2-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Activity-pic */

#Activity, header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 1.2rem;
    margin: 0;
}

#Activity header {
    margin: 3rem 0 2rem 0;
}

.Activity-pic, a {
    text-decoration: none;
    color: black;
}

/* Taille images */

.big {
    width: 300px;
    height: 390px;
}

.little {
    width: 300px;
    height: 150px;
}

.Frioul {
    width: 300px;
    height: 130px;
}

/* Border des images activity */

.big, .little, .Frioul {
    border-radius: 25px 25px 0 0;
    object-position: center;
    object-fit: cover;
}

.Activity-pic {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 70px 25px 25px;
    box-shadow: 10px 10px 10px #E1E1E1; 
}

.Activity-pic img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

/* Taille texte */

.activity-tittle {
    flex-grow: 1;
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.activity-details {
    border-radius: 0 0 25px 25px;
    background-color: white;
}

/* FOOTER */

.bottom-page {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 3rem;
  }
  
  .bottom-page div {
    padding: 15px;
  }
  
  .bottom-page p {
    font-weight: 500;
  }
  
  .bottom-page a{
    text-decoration: none;
    color: black;
  }

  footer div {
    margin-right: 18%;
  }

  .about {
    margin-left: 3rem;
  }

            /* MEDIA QUERIES */

/* Breakpoint 1300px */

@media screen and (max-width: 1300px) {

    .headernav {
        width: 60%;
        justify-content: space-around;
    }
    
    .logo {
        width: 11%;
    }

    .signin {
        width: 11%;
    }

}

/* Dimensions Tablette */

@media screen and (min-width: 1024px) {
    .fa-search {
        visibility: hidden;
    }
}

@media screen and (max-width: 1024px) {

    .Global {
        flex-direction: column;
    }
    
    /* Filtres */

    .Filters {
        display: inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    /* Ordre des filtres en responsiv */

    .Filterorder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .AllFilter {
        margin: 0.5em 3em;
    }

    /* Info */

    .info {
        padding-top: 25px;
    }

/* Section Hosting */

    #hosting {
        background-color: white;
        margin: 0;
        border-radius: 0;
    }

    .HebergementsMarseille header {
        padding: 2rem 3rem 0 .5rem;
        font-size: 0.9rem;
    }

    .hotel {
        width: 48%;
        margin: 1%;
    }

    .hotel img {
        object-position: center;
        object-fit: cover;
    }
    
    .hotel-choice {
        justify-content: center;
        padding: 25px 0;
    }

    .HebergementsMarseille .afficherplus {
        padding: 10px 25px 25px 35px;
    }

/* Section Activity */
    
    #Activity header {
        margin: 3rem 3rem 1rem 0.5rem;
        font-size: 0.9rem;
    }

    .Activity-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .column {
        width: 24%;
    }

/* Footer */

    .about, .our-lodging, .help {
        margin-left: 1rem;
    }

    footer div {
        margin-right: 0;
    }
}

/* Dimensions mobile */

@media screen and (min-width: 641px) {
    .fa-search {
        visibility: hidden;
    }
}

@media screen and (max-width: 640px) {

/* Body haut de page */

    /* MAIN */

    main {
        margin: 0;
    }

    .top-page {
        margin: 0;
        margin-bottom: 30px;
        background-size: cover;
    }    

    header.header {
        margin-bottom: 1.5rem;
    }

    .header {
        flex-wrap: wrap;
        width: 100%;
    }

    .logo {
        margin-left: 0.5rem;
        width: 45%;
        order: 1;
    }

    .headernav {
        width: 100%;
        justify-content: space-between;
        order: 3
    }

    .signin {
        display: flex;
        justify-content: flex-end;
        width: 45%;
        margin-right: 0.5rem;
        order: 2
    }

    .nav-link {
        border-bottom: solid 3px #F2F2F2;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    .nav-link:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    
    /* Marge gauche des titres et I de information */

    .bigtitle, .search {
        margin: 0 3.5%;
    }

    .bigtitle {
        font-size: 24px;
    }

    .searchForm {
        display: inline-flex;
        max-width: 100%;
        margin-left: 0.5em;
    }

    .searchinput {
        border-right: none;
        border-left: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        padding: 0 1.5rem;
        box-sizing: border-box;
        width: 14rem;
        font-size: 1rem;
        font-weight: bold;
    }

    .searchbutton {
        display: none;
    }
    
    .searchwen {
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 1rem 1rem;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .fa-search {
        color: white;
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
    }

    .Filters {
        display: inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    /* Ordre des filtres en responsiv */

    .Filterorder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .AllFilter {
        margin-bottom: 1em;
        margin: 10px 10px 10px 0;
        margin-left: 0;
        margin-right: 1em;
    }

    .info {
        padding-top: 10px;
    }

/* Global */

    .Global {
        flex-direction: column-reverse;
    }

    /* Prix sans gras Hosting/Trending */

    .price {
        font-weight: 500;
    }

/* Section Trending */

    .trending header {
        font-size: 0.9rem;
        padding: 25px 25px 0 20px;
        margin: 0;
        align-items: center;
        justify-content: space-between;
    }

    .trending {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .trend-choice {
        height: 85%;
        display: flex;
        flex-direction: column;
        min-height: 200px;
        padding: 25px 15px;
        justify-content: space-between;
    }

    .trend-hotel {
        margin: 0;
        margin-bottom: 1em;
    }

    .trend-choice img {
        width: 45%;
        height: 12em;
    }

    .trend-details {
        padding-left: 5px;
    }

/* Section Hosting */

    #hosting {
        background-color: white;
        margin: 0;
        border-radius: 0;
    }

    .HebergementsMarseille header {
        padding: 2rem 3rem 0 1.5rem;
        font-size: 0.9rem;
    }

    .hotel {
        width: 90%;
        margin-right: 0;
    }

    .hotel img {
        object-position: center;
        object-fit: cover;
    }
    
    .hotel-choice {
        justify-content: center;
        padding: 25px 0;
    }

    .HebergementsMarseille .afficherplus {
        padding: 0 25px 0 35px;
    }

/* Section Activity */
    
    #Activity header {
        margin: 3rem 3rem 0 1.5rem;
        font-size: 0.9rem;
    }

    .Activity-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        flex-direction: row;
        margin: 20px;
    }

    .column {
        width: 100%;
    }

    .Activity-pic {
        margin-bottom: 1em;
    }

    .big {
        width: 200px;
        height: 200px;
    }
    
    .little {
        width: 200px;
        height: 200px;
    }
    
    .Frioul {
        width: 200px;
        height: 200px;
    }

    .big, .little, .Frioul {
        border-radius: 25px 25px 0 0;
        object-position: center;
        object-fit: cover;
    }

/* Section bottom-page */

    .bottom-page{
        flex-wrap: wrap;
        margin-top: 0;
    }

    .bottom-page div{
        width: 100%;
    }

/* Marges pour bottom-page */

    .about, .our-lodging, .help {
        margin-left: 1rem;
    }

}
